.App {
  display: flex;
  align-items: center;
  margin: 2em;
  white-space: pre;
}
h1 {
  text-align: center;
  
}
h2 {
  text-align: center;
  margin: 10px;
}

h3 {
 position: absolute;
 left: 5;
 bottom: 0;
}

button {
  font-size: 1em;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  padding: 10px 25px;
}
button:hover {
 
  background-color: rgb(61, 145, 35);
}
button:active {
  background-color: rgb(83, 153, 92);
}
